<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Shopping cart</h1>

    <h3>Node.js and express</h3>
    <p>Price: $ 5</p>
    <p>Quantity 1</p>

    <form action ="/checkout" method="post">
        <input type="submit", value="Proceed to checkout">
    </form>
    
</body>
</html>